@model Razor.Models.Product[]

@{
    ViewBag.Title = "DemoArray";
    Layout = "~/Views/Home1/_Home1Layout.cshtml";
}

@if (Model.Length > 0)
{
    <table>

        <thead><tr><th>Product</th><th>Price</th></tr></thead>

        <tbody>
            @foreach (Razor.Models.Product product in Model)
            {
                <tr><td>@product.Name</td><td>$@product.Price</td></tr>
            }
        </tbody>

    </table>
}

else
{
    <h2>No product data</h2>
}