@model Razor.Models.Product

@{
    ViewBag.Title = "Product Name";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Product Name: @Model.Name
    </div>
</body>
</html>
