.btn a {
    color: white;
    text-decoration: none
}

body {
    background-color: #F1F1F1;
    max-width: 37.5rem;
    margin: 0 auto;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}