@using SportsStore.Domain.Entities

@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var product in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@product.Name</strong>
            <span class="pull-right label label-primary">@product.Price.ToString("c")</span>
        </h3>
        <span class="lead"> @product.Description</span>
    </div>
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>